zone "{{ okd.base_domain }}" {
  type master;
  file "/etc/named/zones/zonedb.{{ okd.base_domain }}";
};

zone "{{ okd.machine_cidr | reverse_zone }}" {
  type master;
  file "/etc/named/zones/zonedb.{{ okd.machine_cidr | reverse_zone }}";
};


