# managed by ansible
DEFAULT pxeboot
TIMEOUT 20
PROMPT 10
LABEL pxeboot
    KERNEL {{ coreos.kernel.image }}
    APPEND ip=dhcp rd.neednet=1 initrd={{ coreos.initrd.image }} console=tty0 console=ttyS0 coreos.inst=yes coreos.inst.install_dev={{ coreos.install_device }} coreos.live.rootfs_url=http://{{ okd.services.ignition_server.ipaddress }}:{{ httpd.httpd_tcp_port }}/boot/{{ coreos.rootfs.image }} coreos.inst.ignition_url=http://{{ okd.services.ignition_server.ipaddress }}:{{ httpd.httpd_tcp_port }}/{{ httpd.cluster_name }}/{{ item.ignition }}

